body {
  margin: 0;
  padding: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  /*background: #212020;*/
  /*background-image: url("../images/background.jpg");*/
    /*background-image: url("../images/data.jpg");*/
  background-color: #F5F5F5;
  background-size: cover;
  /*background-repeat: no-repeat;*/


    /*#212020;*/
    /*Arial Narrow, Arial, sans-serif;*/
}

header{
  /*background: #fff;*/
  /*background-color: #212020;*/
  /*margin: 20px;*/

  /*border-bottom: 2px solid #CBB26A;*/
  border-bottom: 4px solid #212020;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nav_links{
  display: flex;
  flex-direction: column;
  align-items: center;

}

header > h1 {

  /*padding-top: 10px;*/
  /*padding-bottom: 5px;*/
  /*padding-top: 10px;*/
  /*font-family: 'Allura', cursive;*/
  font-weight: bold;
  font-size: 35px;
  padding-bottom: 5px;


}

h1 a{
  text-decoration: none;
  color: #212020;
}


._3D_Text {
  /*color: #fff;*/
  /*font-size: 12em;*/
  font-weight: bold;
  /*font-family: Helvetica;*/
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}


.nav_item{
  padding-bottom: 5px;
  font-size: 20px;
  letter-spacing: 0.4px;

}
.nav_item a{
  /*color: #CBB26A;*/
  color: #212020;
  text-decoration: none ;



}
.active{
  /*border: 2px solid black;*/
  text-decoration:  underline dotted black;
  /*text-decoration-color:black;*/
  /*text-decoration-thickness: 0.1em;*/

}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:0;
  color: black;
  text-decoration-style: solid;
}

.container{
  min-height: 700px;
  /*display: grid;*/
  /*grid-template-columns: repeat(4,auto);*/
  /*grid-template-rows: repeat(4,auto);*/
  /*grid-column-gap: 15px;*/
  /*grid-row-gap: 15px;*/
  /*width: 100vw;*/
  /*height: 100vh;*/
  /*background-image: url("../images/data.jpg");*/
  padding-top: 20px;
  margin: 20px;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  justify-content: space-evenly;
  align-content: center;

  position: relative;
  left:0;
  bottom:0;
  width:100%;

  min-height: 30px;
  background-color: #ffffff;
  /*background-color: #A6D8D4;*/
  color: #212020;
  padding: 15px;



}

footer a{
  text-decoration: none;
  color: #212020;
}

footer li{
  /*flex-direction: column;*/
  list-style-type: none;
  text-align: center;
  /*justify-content: center;*/
  /*align-items: center;*/
  /*align-items: center;*/
  /*justify-content: center;*/

}
#contact{
  grid-column: 3/-1;

}

#contact li:first-child{
  padding-left: 18px;
  padding-bottom: 10px;
  text-decoration: underline;


}

#link_logo::before{
  content: url("../images/linkedin-logo.jpg");
  padding-right: 5px;
}

#git_logo::before{
  content: url("../images/GitHub-logo.png");
  padding-right: 5px;

}

#email-logo::before{
    content: url("../images/email-logo.png");
    padding-right: 5px;

}

#location{
  grid-column: 2/ 3;
  grid-row: 1/span 1;

  }

#location li:first-child{
  /*padding-left: 18px;*/
  padding-bottom: 10px;
  text-decoration: underline;

}

#site_info{
  grid-column: 1/ 2;




}
#site_info li:first-child{
  /*padding-left: 18px;*/
  padding-bottom: 10px;
  text-decoration: underline;



}


/*.intro{*/
  /*grid-column: 1/ -1;*/
  /*!*grid-row: 1 / span 1;*!*/
  /*grid-row: 1 /  span 1 ;*/
  /*margin: 12px;*/
  /*!*justify-self: center;*!*/

/*}*/


.landing{
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  /*height: 100%;*/
  width: 100%;
  /*position: fixed;*/
  left: 0;
  font-size: 45px;
  line-height: 1.5;

  /*vertical-align: middle;*/
}
.about{
  /*background-image: url("../images/about_image.jpg");*/
  /*margin: 0px;*/

}
.about > h1 {
  /*grid-column: 2 / 4;*/
  /*grid-row: 2 /span 1;*/
  margin: auto 0;
  text-align: center;
  /*align-content: center;*/
  font-size: 50px;

}
.about > p{
  margin-top: 10px;
  margin-right: 2%;
  margin-left: 2%;
  padding: 2%;
  /*text-align: left;*/
  line-height: 1.25;
  font-size: 20px;
  justify-content: center;
  align-content: center;

}
.about > img{
  display: block;
   /*grid-column: 1 / span 1;*/
   /*grid-row: 1/  span 1 ;*/

   /*margin: 12px;*/

}
/*source:
https://www.w3schools.com/howto/howto_css_flip_card.asp*/
.flip-card {
  background-color: transparent;
  width: 213px;
  height: 267px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

}




.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner h1,
.flip-card-inner p,
.flip-card-inner p a {
  margin: 25px;
  text-align: center;
  color: #ffffff;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner{
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotateY(180deg);
  visibiliy: visible;
}
 /*.flip-card:active .flip-card-inner,*/

/*.flip-card:active .flip-card-inner{*/
  /*-webkit-transform:rotate(180deg);*/
  /*-moz-transform: rotate(180deg);*/
  /*-ms-transform: rotate(180deg);*/
  /*-o-transform: rotate(180deg);*/
  /*transform: rotateY(180deg);*/
  /*!*border: 5px solid blue;*!*/
  /*!*visibiliy: visible;*!*/

/*}*/
/*.flip-card[open]:not(:focus-within)*/
.flip-card:focus::after .flip-card-inner {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotateY(180deg);
  outline: 5px solid blue;


}
/*.flip-card-inner:active {*/
    /*visibiliy: visible;*/

/*}*/

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #000000;
  color: #ffffff;
}

/* Style the back side */
.flip-card-back {
  background-color: #000000;
  line-height: 1.15;
  font-size: 20px;
  color: #ffffff;
  transform: rotateY(180deg);
}




.skills{
  /*background-image: url("../images/skills.jpg");*/
}
.skills h2{
  margin: auto 0;
  text-align: center;
  font-size: 50px;
}

.gallery{

  /*min-height: 600px;*/

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px ;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;


}
.gallery h1{
  grid-column: 1/-1;
  text-align: center;
  font-size: 50px;

}

/*.gallery > img{*/
  /*!*border: 10px #50C7C7 solid;*!*/
  /*!*margin: 10px;*!*/
  /*width: 300px;*/
  /*height: 200px;*/
  /*margin: 0 auto;*/

/*}*/

@-webkit-keyframes swing{
  /*0% {*/
       /*transform: rotate(3deg);*/
     /*}*/
  /*100% {*/
      /*transform: rotate(-3deg);*/
    /*}*/
   0% {transform: scale(1);}
   10%, 20% {transform: scale(0.9) rotate(-3deg);}
   30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
   40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
   100% {transform: scale(1) rotate(0);}
}

@keyframes swing{
  /*0% {*/
       /*transform: rotate(3deg);*/
     /*}*/
  /*100% {*/
      /*transform: rotate(-3deg);*/
    /*}*/
   0% {
     transform: scale(1);
   }
   10%, 20% {
     transform: scale(0.9) rotate(-3deg);
   }
   30%, 50%, 70%, 90% {
     transform: scale(1.1) rotate(3deg);
   }
   40%, 60%, 80% {
     transform: scale(1.1) rotate(-3deg);
   }
   100% {
     transform: scale(1) rotate(0);
   }
}



.project_card {
  -webkit-animation:swing;
  animation: swing ease-in-out 3s;

  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*!*list-style: none;*!*/
  /*justify-content: center;*/
  /*align-items: center;*/

  /*border: 1px solid black;*/
    /*creates curved edges*/
  border-radius: 25px;

  /*width: 100px;*/
  /*padding: 1%;*/

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  /*background-origin: content-box;*/

  box-sizing: content-box;
  font-family: inherit; /* use same font as parent*/
  font-size: 16px;
  /*font-weight: bolder;*/
  overflow: hidden;
  /*background-color: #B9CDDA;*/
  background-color: #FFFFFF;

}
.project_card img{
  /*object-fit: fill;*/
  /*min-height: 100%;*/
  /*width:auto ;*/
  background-size: contain;
  /*background-size: cover;*/
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height:auto;
  /*height: 50%;*/

  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*border-top-left-radius: 0.25rem;*/
  /*border-top-right-radius: 0.25rem;*/
  /*position:relative;*/


}
/*.project_card:hover{*/
  /*!*object-fit: fill;*!*/
  /*!*min-height: 100%;*!*/
  /*!*width:auto ;*!*/
  /*background-size: contain;*/
  /*!*background-size: fit;*!*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
  /*width: 100%;*/
  /*height: auto;*/
  /*!*height: 50%;*!*/

  /*!*background-position: center center;*!*/
  /*!*background-repeat: no-repeat;*!*/
  /*!*background-size: cover;*!*/
  /*!*border-top-left-radius: 0.25rem;*!*/
  /*!*border-top-right-radius: 0.25rem;*!*/
  /*!*position:relative;*!*/

/*}*/
/*.content{*/
  /*margin: auto 0;*/
/*}*/
.project_card h1{
  text-align: center;
  padding: 5px;
  /*padding-bottom: 2px;*/
  font-size: 25px;


}
.project_card button{
  width: 50%;
  height: 30px;
  border: 1px solid black;
  border-radius: 7px;
  /*background: #6B7D7D;*/
  background: #ffffff;

  overflow: hidden;
  /*below centers the button and leaves space towards bottom*/
  display: block;
  margin: auto auto 15px auto;
}

.project_card button a{
  font-family:'Roboto Condensed', sans-serif;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

.project_card p {
  text-align: left;
  padding: 15px;
}

.project_card button:hover,
.project_card button a:hover{
  background: #000000;
  color: #ffffff;
}

.project_card:hover {
  /*-ms-transform: scale(1.25); !* IE 9 *!*/
  /*-webkit-transform: scale(1.25); !* Safari 3-8 *!*/
  /*transform: scale(1.25);*/
  border: 2px solid black;
  /*z-index: 0;*/
}
.resume{

}
.resume h1{
  margin: auto 0;
  text-align: center;
  font-size: 50px;
}

/*.iframe-container {*/
  /*overflow: hidden;*/
  /*padding-top: 56.25%;*/
  /*position: relative;*/
/*}*/

/*.iframe-container iframe {*/
 /*border: 0;*/
   /*height: 100%;*/
   /*left: 0;*/
   /*position: absolute;*/
   /*top: 0;*/
   /*width: 100%;*/
/*}*/



iframe{
  padding-top: 10px;
  margin: auto 0;
  width: 100%;
  min-height:800px;
  overflow: hidden;
}



  /*margin: 12px;*/
  /*background: #fff;*/
  /*border-radius: 7px;*/
  /*padding: 0 0 50px 0;*/


  /*flex-basis: 400px;*/

  /*display: flex;*/
  /*flex-direction: column;*/

  /*flex: 0 0 400px;*/

/*}*/


/*contact form style sheet*/

fieldset{
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}
legend{
  text-align: center;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
}
fieldset div{
   border: 2px solid black;
   margin: 2%;
   padding: 3%;
   border-radius: 5px;
}

.contact_form{
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  overflow: auto;
  /*adds a scroll bar as needed */

}

.form_buttons{
  margin: 0 auto;

}

input[type=reset], input[type=submit] {
  border: 1px solid black;
    /*creates curved edges*/
  border-radius: 25px;

  width: 100px;
  padding: 1%;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;

  box-sizing: content-box;
  font-family: inherit; /* use same font as parent*/
  font-size: 16px;
  font-weight: bolder;
}

input, textarea, select{
   background-color:#FFFFFF;
  font-size: 14px;
}


.nav_item a:hover,
.nav_item a:focus,
h1 a:hover, h1 a:focus,
footer a:hover,
footer a:focus,
input:focus, input:hover,
.project_card:focus,
/*.project_card button:hover,*/
/*,*/
/*.project_card button a:hover*/
.project_card button:focus,
/*.project_card button:hover,*/
.project_card button a:focus
/*,*/
/*.project_card button a:hover*/
{
  /*color: #CCCCCC;*/
    /*color: #CBB26A;*/
  color: #F5F5F5;
  background: #212020;
  /*text-decoration: underline;*/

  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}
/**:focus{*/
  /*color: #F5F5F5;*/
  /*background: #212020;*/
  /*!*text-decoration: underline;*!*/

  /*-webkit-text-decoratio




  n-style: dotted;*/
          /*text-decoration-style: dotted;*/

/*}*/


@media screen and (min-width: 680px){
  header{
    display: grid;

  }

  .nav_links{
    display: grid;

    justify-content: center;
    align-items: center;

    grid-row-gap: 10px;

  }

  header > h1{
    grid-row: 1 /span 1;

    align-self: center;
    justify-self: center;

    font-size: 40px;
    font-weight: bolder;


  }

  .nav_item{
    grid-row: 2 / span 1;


  }
  .nav_item a{
    padding: 10px;



  }
  .landing {
    font-size: 50px

  }
  .about > h1 {
    font-size: 55px;

  }
  .skills h2{
  font-size: 55px;
  }
  .about > p {
    font-size: 22px;
  }
  .gallery{
    grid-template-columns: 1fr 1fr;
  }
  .project_card {
  max-width: 500px;

  }
  .project_card p {
  text-align: center;
  padding: 15px;
  }


  legend{
  font-size: 55px;
  padding-bottom: 5px;
  }

  /*make 2 columns because now can fit both on screen without looking squished
  also change grid-gap so there is space between field columns and rows*/
  .contact_form{
    grid-template-columns: auto 1fr;
    grid-gap: 20px;

}
  .form_buttons{
    grid-column: 1/-1;
  }

  fieldset div{
   margin: 3%;
   padding: 3%;
  }

  input[type=reset], input[type=submit] {
    width: 120px;

  }
}
@media all and (min-width: 1200px) {
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .nav_links{

    display: flex;
    flex-direction: row;

  }


  .nav_item{
    padding-top: 10px;
    padding-bottom: 10px;


  }
  .nav_item a{
    padding: 10px;



  }
  .landing {
    font-size: 60px

  }
  .about > h1 {
    font-size: 60px;

  }
  .about > p {
    margin-right: 12%;
    margin-left: 12%;
    font-size: 25px;
  }
  .skills h2{
  font-size: 60px;
  }


  .gallery{
    grid-template-columns: 1fr 1fr 1fr;
  }
  /*.project_card {*/
    /*max-width: 500px;*/

  /*}*/

  legend{
    font-size: 60px;
  }
  fieldset{
    font-size: 22px;
  }

  fieldset div{
    margin: 4%;
    padding: 3%;
  }
  input, textarea, select{
    font-size: 16px;
  }


}
@media screen and (prefers-reduced-motion: reduce) {
  .project_card {
    animation: none;
  }
}

  /*.about, .clients, .method-image, .contact-image{*/
    /*grid-column: 3 / span 2;*/
  /*!*Your code here *!*/
  /*!* See documentation for desktop view *! */
  /*}*/

  /*.about-image, .clients-image, .method, .contact{*/

    /*grid-column: 2 / span 2;*/
    /*!*Your code here *!*/
    /*!* See documentation for desktop view *! */
    /*}*/


/*}*/
